@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800&family=Rubik:wght@600;800&family=Saira+Stencil+One&display=swap');

*, :after, :before {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Rubik;
    font-size: 12px;
    line-height: 1.4rem;
}

.ff-monst {
    font-family: Montserrat;
    font-weight: 300;
}

.report_invoice {
    background-color: #f2f3f5;
    min-height: 100vh;
}

.report_invoice_main {
    position: relative;
    background: #fff;
    min-height: 100vh;
    /*width: 70%;*/
    width: 21cm;
    margin: 0 auto;
    /*border-top: 20px solid #2c51b0;*/
}

.report_invoice_content {
    padding: 1.5rem;
}


.report_invoice_content .report_invoice_header {
    margin-bottom: 10px;
}


.report_invoice_content .report_invoice_header h2 {
    font-size: 3.5rem;
    font-weight: bold;
    color: #e06930;
}

.report_invoice_content img {
    max-width: 60%;
}

.content-button {
    position: absolute;
    top: 0;
    right: 0;
}

.report_invoice_content .report_invoice_header table {
    color: black;
}

.font-size-24 {
    font-size: 24px;
    line-height: 1.3;
}

.font-size-18 {
    font-size: 18px;
    line-height: 1.2;
}

.font-size-16 {
    font-size: 16px;
    line-height: 1.2;
}

.font-size-14 {
    font-size: 14px;
    line-height: 1.2;
}

.font-size-12 {
    font-size: 12px;
    line-height: 1.2;
}

.font-size-11 {
    font-size: 11px;
    line-height: 1.2;
}

.bg-green {
    background: #008659;
    color: #eeeeee;
}

#dtIsi {
    color: #555;
}

#dtIsi th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
}

#dtIsi td {
    padding: 12px 0;
    border-bottom: 2px solid #555;
}

.p-2 {
    padding: 2px !important;
}

.font-weight-bold {
    font-weight: bold !important;
}

.text-black-1 {
    color: black !important;
}

.bg_blue_1 {
    background-color: #4D678C;
    color: white;
}

.mt-7 {
    margin-top: 5rem !important;
}

.text-right {
    text-align: right;
}

@media print {
    @page {
        margin: 0px !important;
        padding: 0px !important;
        size: A4;
    }

    .bor {
        display: none;
    }

    .page_break {
        /*page-break-after: auto;*/
        page-break-before: always;
        /*page-break-inside: auto;*/
        padding-top: 2rem;
    }

    tr.bg-black-7 {
        background-color: #eee !important;
        color: red !important;
        -webkit-print-color-adjust: exact !important;
    }

    * {
        -webkit-print-color-adjust: exact !important;
    }

    html, body {
        margin: 0px !important;
        padding: 0px !important;
    }

    .report_invoice_main {
        width: 100%;
    }

    .page_break.p_pt_2 {
        padding-top: 2rem;
    }
}